@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, rgb(240, 238, 235), rgba(212, 212, 212, 0.705));
}

title {
  font-family: "Arizonia", cursive;
  font-size: 18px;
}
